
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}



/*

  Grid
*/

.hoehe-1 {
  height: calc(100vh/12);
}

.hoehe-2 {
  height: calc( (100vh/12) *2);
}

.hoehe-3 {
  height: calc( (100vh/12) *3);
}


.hoehe-10 {
  height: calc( (100vh/12) *10);
}


.hoehe-12 {
  height: 100vh;
}



.breite-1 {
  width: calc(100vw/12);
}
.breite-2 {
  width: calc( (100vw/12) *"");
}
